/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 13, 2015, 10:41:44 PM
    Author     : Administrator
*/
.html {
    width: 100%;
    height: 100%;
}
.button {
    margin-right: 5px;
}

.table {
    margin: 0px;
}

.providers_commonNumCol { text-align: center; }
.providers_commonTextCol { width: 20%; }

#navbar {
    background-color: lightgreen; 
    width: 100%;
    line-height: 40px;
    font-size: 20px;
    padding-left: 5px;
    padding-right: 21px;
    margin-left: -13px;
}