/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 22, 2015, 12:58:18 AM
    Author     : Hien Quan
*/
td {
    padding: 5px;
}

.tableCaption {
    float: left;
    font-size: 18px;
    font-weight: bold;
}

.cliqueDetail-toCol {
    width: 20%;
    text-align: center
}

.cliqueDetail-reviewCol {
    width: 50%;
}

.cliqueDetail-ratingCol {
    width: 10%;
    text-align: center;
}

.cliqueDetail-dateCol {
    width: 20%;
}