<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <f:metadata>
        <f:viewAction action="#{cliqueFilterController.load_validation_stage_1()}"/>
    </f:metadata>
    <ui:composition template="template.xhtml">
        <ui:define name="navbar">
            <h:link outcome="index" value="Home"/> &rarr; 
            <h:link outcome="clique_filter" value="Clique Filter"/> &rarr; 
            Validation Stage 1
        </ui:define>
        <ui:define name="subtitle">Clique Filter - Validation Stage 1</ui:define>
        <ui:define name="page_content">
            <p>
                <span style="font-weight: bold">Execution time: </span>
                <h:outputText value="#{cliqueFilterController.cliqueFilter.executeTime} ms"/>
            </p>
            <p>
                <span style="font-weight: bold">Value of h: </span>
                <h:outputText value="#{cliqueFilterController.cliqueFilter.h}"/>
            </p>
            <p>
                <span style="font-weight: bold">Value of minimal density: </span>
                <h:outputText value="#{cliqueFilterController.cliqueFilter.threshold}"/>
            </p>

            <br/>
            <h2>List of Cliques</h2>
            <h:dataTable id="cliques" value="#{cliqueFilterController.cliqueModel}" var="clique">
                <h:column>
                    <div>
                        <h:outputText style="font-weight: bold" value="Clique #{cliqueFilterController.cliqueModel.rowIndex + 1}: "/>
                        <h:outputText value="#{clique.provider_string}"/>
                    </div>
                </h:column>
                <h:column>
                    <h:commandLink value="Show details" action="#{cliqueFilterController.showCliqueDetail(clique, 1)}"/>
                </h:column>
                <h:column>
                    <h:graphicImage url="/resources/image/check-icon.png" rendered="#{clique.correct}"/>
                    <h:graphicImage url="/resources/image/uncheck-icon.png" rendered="#{not clique.correct}"/>
                </h:column>
            </h:dataTable>
            <br/>
            <h:button value="Back to Clique Filter page" outcome="clique_filter.xhtml?faces-redirect=true"/>
            <h:commandButton value="Done Verification" action="#{cliqueFilterController.doneVerification()}" onclick="doneVerification()"/>
            <h:outputText value=" Accuracy: #{cliqueFilterController.correctPercentage}%" style="font-size: 20px; font-weight: bold; color: blue"
                          rendered="#{cliqueFilterController.correctPercentage >= 0}"/>
        </ui:define>
    </ui:composition>
</html>

