<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <f:metadata>
        <f:viewAction if="#{!(param.stage_num eq null)}" action="#{cliqueController.load(param.stage_num, param.clique, cliqueFilterController)}"/>
    </f:metadata>

    <ui:composition template="template.xhtml">
        <ui:define name="navbar">
            <h:link outcome="index" value="Home"/> &rarr; 
            <h:link outcome="clique_filter" value="Clique Filter"/> &rarr; 
            <h:panelGroup rendered="#{cliqueController.stageNum eq 1}">
                <h:link outcome="clique_validation_stage1" value="Validation Stage 1"/> &rarr; 
            </h:panelGroup>
            <h:panelGroup rendered="#{cliqueController.stageNum eq 2}">
                <h:link outcome="clique_validation_stage2" value="Validation Stage 2"/> &rarr; 
            </h:panelGroup>
            Clique Detail
        </ui:define>
        <ui:define name="subtitle">Clique Detail</ui:define>
        <ui:define name="page_content">
            <h:panelGroup rendered="#{cliqueController.stageNum == 2}">
                <h:outputText value="Correct clique? " style="padding-left: 5px; font-weight: bold"/>
                <h:graphicImage url="/resources/image/check-icon.png" rendered="#{cliqueController.clique.correct}"/>
                <h:graphicImage url="/resources/image/uncheck-icon.png" rendered="#{not cliqueController.clique.correct}"/>
            </h:panelGroup>
            <h:inputHidden value="#{cliqueController.clique.provider_string}"/>
            <h:inputHidden value="#{cliqueController.stageNum}"/>
            <h:dataTable value="#{cliqueController.clique.nodes}" var="node">
                <h:column>
                    <h:dataTable value="#{node.allReviews}" var="review" border="1" captionClass="caption" style="width: 100%"
                                 columnClasses="cliqueDetail-toCol,cliqueDetail-reviewCol,cliqueDetail-ratingCol,cliqueDetail-dateCol">
                        <f:facet name="caption">
                            <h:outputText class="tableCaption" value="From: #{node.providerName}"/>
                        </f:facet>
                        <h:column>
                            <f:facet name="header">To</f:facet>
                            <h:outputText value="#{cliqueController.getReviewedProvider(review)}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">Review</f:facet>
                            <h:outputText value="#{cliqueController.getReview(review)}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">Rating</f:facet>
                            <h:outputText value="#{cliqueController.getRatingStar(review)}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">Date</f:facet>
                            <h:outputText value="#{cliqueController.getPublishDate(review)}"/>
                        </h:column>
                    </h:dataTable>
                </h:column>
            </h:dataTable>
            <h:panelGroup rendered="#{cliqueController.stageNum == 1}">
                <h:button class="button" value="Cancel" outcome="clique_validation_stage1"/>
                <h:commandButton class="button" value="Correct" 
                                 action="#{cliqueController.correct(true, cliqueFilterController)}"/>
                <h:commandButton class="button" value="Incorrect" 
                                 action="#{cliqueController.correct(false, cliqueFilterController)}"/>
            </h:panelGroup>
            <h:button rendered="#{cliqueController.stageNum == 2}" value="Back to Validation Page"
                      outcome="clique_validation_stage2" style="float: right"/>
        </ui:define>
    </ui:composition>
</html>

