<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:t="http://myfaces.apache.org/tomahawk">

    <ui:composition template="template.xhtml">
        <ui:define name="navbar">
            <h:link outcome="index" value="Home"/>
            &rarr; Clique Filter
        </ui:define>
        <ui:define name="subtitle">Filter Configuration</ui:define>
        <ui:define name="page_content">
            <table>
                <tr>
                    <td>
                        <label>Value of h: </label>
                    </td>
                    <td>
                        <h:inputText value="#{cliqueFilterController.h}"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Value of threshold: </label>
                    </td>
                    <td>
                        <h:inputText value="#{cliqueFilterController.threshold}"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Input file for clique: </label>
                    </td>
                    <td>
                        <t:inputFileUpload id="file1" value="#{cliqueFilterController.cliqueUpFile}"/>
                        <h:commandButton class="button" value="Load" 
                                         action="#{cliqueFilterController.loadCliqueInputData()}"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Input file for database: </label>
                    </td>
                    <td>
                        <t:inputFileUpload id="file2" value="#{cliqueFilterController.dbFile}"/>
                        <h:commandButton class="button" value="Load" 
                                         action="#{cliqueFilterController.loadDB()}"/>
                    </td>
                </tr>
                <tr>
                    <td align="right" colspan="2">
                        <h:button class="button" value="Show reputations" outcome="provider_reputation_list"/>
                        <h:commandButton class="button" value="Filter" action="#{cliqueFilterController.filter()}"/>
                    </td>
                </tr>
            </table>
            <h:panelGroup rendered="#{cliqueFilterController.filterDone}">
                <p>
                    <h:link value="Validation Stage 1" outcome="clique_validation_stage1.xhtml" rendered="#{cliqueFilterController.currentStage eq 1}"/>
                </p>
                <p>
                    <h:link value="Validation Stage 2" outcome="clique_validation_stage2.xhtml" rendered="#{cliqueFilterController.currentStage eq 2}"/>
                </p>
            </h:panelGroup>
        </ui:define>
    </ui:composition>
</html>

