<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <ui:composition template="template.xhtml">
        <ui:define name="navbar">
            Home
        </ui:define>
        <ui:define name="subtitle">Welcome to Review Filter</ui:define>
        <ui:define name="page_content">
            <ul>
                <li>
                    <h:link value="Ballot Stuffing Filter"/>
                </li>
                <li>
                    <h:link value="Bad mouthing Filter"/>
                </li>
                <li>
                    <h:link value="Spammer Group Filter"/>
                </li>
                <li>
                    <h:link value="Clique Filter" outcome="clique_filter"/>
                </li>
            </ul>
        </ui:define>
    </ui:composition>
</html>

