<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <f:metadata>
        <f:viewAction action="#{providerListController.loadProviders()}"/>
    </f:metadata>

    <ui:composition template="template.xhtml">
        <ui:define name="navbar">
            <h:link outcome="index" value="Home"/> &rarr; 
            <h:link outcome="clique_filter" value="Clique Filter"/> &rarr; 
            Provider Reputation
        </ui:define>
        <ui:define name="subtitle">Provider Reputation List</ui:define>
        <ui:define name="page_content">
            <h:dataTable value="#{providerListController.providers}" var="provider"
                         width="100%" border="1" 
                         columnClasses="providers_commonNumCol,providers_commonTextCol,providers_commonTextCol,providers_commonTextCol,providers_commonTextCol,providers_commonNumCol">
                <h:column>
                    <f:facet name="header">ID</f:facet>
                    <h:outputText value="#{provider.id}"/>
                </h:column>
                <h:column class="providers_commonCol">
                    <f:facet name="header">Company Name</f:facet>
                    <h:outputText value="#{provider.company_name}"/>
                </h:column>                  
                <h:column class="providers_commonCol">
                    <f:facet name="header">Description</f:facet>
                    <h:outputText value="#{provider.description}"/>
                </h:column>
                <h:column class="providers_commonCol">
                    <f:facet name="header">Company Email</f:facet>
                    <h:outputText value="#{provider.company_email}"/>
                </h:column>
                <h:column class="providers_commonCol">
                    <f:facet name="header">Web link</f:facet>
                    <h:outputText value="#{provider.weblink}"/>
                </h:column>
                <h:column class="providers_commonCol">
                    <f:facet name="header">Reputation</f:facet>
                    <h:outputText value="#{provider.reputation}"/>
                </h:column>
            </h:dataTable>
            <h:panelGroup style="text-align: center">
                <h:button class="button" value="Back to Clique Filter page" outcome="clique_filter" style="float: right"/>
            </h:panelGroup>
        </ui:define>
    </ui:composition>
</html>

