<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Reviewer Filter</title>
        <h:outputStylesheet name="general.css" library="css"/>
    </h:head>
    <h:body>
        <h1>Search Criteria</h1>
        <h:form>
            <h:dataTable id="tblFields" value="#{searchProviderController.searchCriteria}" var="criterion">
                <h:column>
                    <h:inputText value="#{criterion.value}" />
                </h:column>
                <h:column>
                    <h:commandButton value="Remove" action="#{searchProviderController.removeCriteria(criterion)}"/>
                </h:column>
            </h:dataTable>

            <h:commandButton class="button" value="Add" action="#{searchProviderController.addCriteria}"/>
            <h:commandButton class="button" value="Filter" action="clique_filter.xhtml?faces-redirect=true"/>
        </h:form>
    </h:body>
</html>

