<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:head>
        <title>Reviewer Filter</title>
        <h:outputScript name="validation_page.js" library="js"/>
        <h:outputStylesheet name="validation_page.css" library="css"/>
        <h:outputStylesheet name="general.css" library="css"/>
    </h:head>
    <h:body>
        <table style="width: 100%; height: 100%; top: 0px; left: 0px; position: absolute">
            <tr>
                <td style="width: 15%; background-color: darkkhaki"/>
                <td style="width: 70%; height: 100%" valign="top">
                    <table style="width: 100%">
                        <tr>
                            <td>
                                <h1 style="color: darkolivegreen">Review Filter</h1>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div id="navbar">
                                    <ui:insert name="navbar"/>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h2><ui:insert name="subtitle"/></h2>
                                <h:message for="page_content" style="color: red"/>
                                <h:form style="height: 100%"  id="page_content" enctype="multipart/form-data">
                                    <ui:insert name="page_content"/>
                                </h:form>
                            </td>
                        </tr>
                    </table>
                </td>
                <td style="width: 15%; background-color: darkkhaki"/>
            </tr>
        </table>
    </h:body>
</html>